/* Primer bk */
@media screen and (max-width: 1190px) {
.header h1,
    h2 {
      -webkit-text-stroke: 1px $lightBlueColor;
    }

.h-h1 {
        margin-bottom: 10px;
        font-size: $xlfont+0.5em;
        text-decoration: underline $whiteColor;
      }
    
.h-h2 {
        font-size: $sfont+0.8em;
      }

.promotions-box {
        margin: 25px auto;
      }

.card-promotions {
        font-size: $sfont;
        width: 25%;
            h3{
                font-size: $sfont+0.5em;
            }
                h2{
                    font-size: $sfont+0.2em;
                }
      }

  /* destinos */
.destinations {
    font-size: $sfont;
    font-weight: $fontBold;
        figcaption{
            margin: 10px 0px 10px 0px;
            font-size: $sfont+0.2em;
        }
  }

.gallery-title {
    font-size: $sfont;
  }

.gallery-item {
        &::nth-child(1){
            grid-column-start: span 1;
            grid-row: span 2;
        }
            &:nth-child(2){
                grid-column-start: span 1;
                grid-row: span 2;
            }
                &:nth-child(3){
                    grid-column-start: span 1;
                    grid-row: span 2;
                }
                    &:nth-child(4){
                        grid-column-start: span 2;
                        grid-row: span 2;
                    }
                        &:nth-child(5){
                            grid-column-start: span 1;
                            grid-row: span 3;
                        }
                            &:nth-child(6){
                                grid-column-start: span 1;
                                grid-row: span 2;
                            }
                                &:nth-child(7){
                                    grid-column-start: span 1;
                                    grid-row: span 2;
                                }
                                    &:nth-child(8){
                                        grid-column-start: span 1;
                                        grid-row: span 3;
                                    }
                                        &:nth-child(9){
                                            grid-column-start: span 2;
                                            grid-row: span 3;
                                        }
  }

  /* Seguimiento */
  .follow-container {
    width: 90%;
  }

  /* Contacto */
  .menu-contact {
    width: 90%;
  }

 
//   Error 404
.error-container{
      h1{
        font-size: $xxlfont;
        margin: 40px 0px;
      }
  
          h2{
            font-size: $mfont;
            margin: 20px 0px;
          }
  
            a{
              width: 60%;
            }
  
                  p{
                    font-size: $sfont+0.7em;
                    padding: 20px;
                  }
  }

}

/* Segundo bk */
@media screen and (max-width: 890px) {
.header {
        height: 280px;
      }
    
.h-h1 {
        font-size: $mfont+0.5em;
        text-decoration: underline $whiteColor;
      }
    
.h-h2 {
        font-size: $sfont+0.5;
      }
    
.promotions-box {
        margin: 25px auto;
        font-size: $sfont;
      }

.card-promotions {
        font-size: $sfont+0.5;
        width: 75%;
        border-bottom: 5px solid $lightRedColor;
            h3{
                font-size: $smfont+0.5;
            }
                h2{
                    font-size: $smfont+0.5;
                }
      }

/* destinos */
.destinations {
    font-size: 0.8em;
    font-weight: $fontBold;

    p{
        font-size: $sfont+0.3;
        padding: 5px;
    }
        figcaption{
            margin: 10px 0px 10px 0px;
            font-size: $smfont;
        }
            button{
                padding: 6px 16px;
                font-size: 12px;
                width: 50%;
            }
  }

.destinations-box{
    grid-template-columns: repeat(2, 1fr);
}

.grid-destinations-container {
    padding: 30px;
    grid-gap: 10px;
  }

.gallery-item{
        &:nth-child(1){
            grid-column-start: span 1;
            grid-row: span 1;
        }
            &:nth-child(2){
                grid-column-start: span 1;
                grid-row: span 1;
            }
                &:nth-child(3){
                    grid-column-start: span 1;
                    grid-row: span 1;
                }
                    &:nth-child(4){
                        grid-column-start: span 2;
                        grid-row: span 2;
                    }
                        &:nth-child(5){
                            grid-column-start: span 1;
                            grid-row: span 3;
                        }
                            &:nth-child(6){
                                grid-column-start: span 1;
                                grid-row: span 1;
                            }
                                &:nth-child(7){
                                    grid-column-start: span 1;
                                    grid-row: span 1;
                                }
                                    &:nth-child(8){
                                        grid-column-start: span 1;
                                        grid-row: span 2;
                                    }
                                        &:nth-child(9){
                                            grid-column-start: span 2;
                                            grid-row: span 2;
                                        }
  }

.faq-input {
    width: 80%;
  }

  /* Seguimiento */
.btn-submit-follow {
    width: 200px;
    border-radius: 5px;
  }

  //   Error 404
.error-container{
    h1{
      font-size: $xlfont+0.5em;
      margin: 40px 0px;
    }

        h2{
          font-size: $smfont+0.5em;
          margin: 20px 0px;
        }

          a{
            width: 70%;
          }

                p{
                  font-size: $sfont+0.3em;
                  padding: 20px;
                }
}

}

/* Tercer bk */
@media screen and (max-width: 690px) {
.header {
    height: 180px;
}
    
.h-h1 {
    font-size: $smfont+0.5;
    text-decoration: underline $whiteColor;
}
    
.h-h2 {
    font-size: $sfont;
}

footer{
    ul{
        li{
            a{
                font-size: 0.9em;
            }
        }
    }
}

.footer-cp {
    font-size: 0.8em;
  }

  /* destinos */
.destinations {
    font-size: 0.7em;
    font-weight: $fontBold;
        figcaption{
            margin: 10px 0px 10px 0px;
            font-size: $sfont+0.5em;
        }
  }

.gallery-title {
    font-size: 0.7em;
    -webkit-text-stroke: 0.8px $blackColor;
    margin-left: 5px;
}

.container-faq{
    h2{
        font-size: $sfont+0.9em;
    }
  }

.faq-input {
    width: 90%;
    padding: 5px;
  }

  /* Seguimiento */
.follow-container{
    h3{
        font-size: $sfont+0.1em;
    }
}

.follow-form-input {
    width: 85%;
  }

  /* Contacto */
.menu-contact {
    margin: 20px;
    font-size: $sfont;
        h2{
            font-size: $sfont+0.6em;
        }
            form{
                margin-top: 20px;
            }
  }

.btn-submit-contact {
    width: 120px;
  }

.contact-form-label {
    font-size: $inputFont;
  }

.contact-map {
    height: 300px;
  }
}

/* Cuarto bk */
@media screen and (max-width: 500px) {
.h-h1 {
    font-size: $smfont;
    text-decoration: underline $whiteColor;
}
    
.h-h2 {
    font-size: 0.85em;
}

footer{
    ul{
        li{
            a{
                padding: 6px;
                font-size: 0.85em;
            }
        }
    }
    h4{
        font-size: $smfont+0.2em;
    }
}

.footer-svg {
    width: 50px;
    margin: 20px;
}

.footer-cp {
    font-size: 0.62em;
  }

.promotions-box {
    margin: 25px auto;
    font-size: $sfont;
  }

.card-promotions {
    font-size: $sfont+0.5em;
        h3{
            font-size: $smfont;
        }
            h2{
                font-size: $sfont+0.8em;
            }
  }

.gallery-title {
    font-size: 0.6em;
  }

  /* destinos */
.destinations {
    font-size: $sfont;
    font-weight: $fontBold;
        figcaption{
            margin: 10px 0px 5px 0px;
            font-size: $sfont+0.5em;
        }
  }

.destinations-box{
    grid-template-columns: repeat(1, 1fr);
  }

.gallery-title {
    font-size: 0.55em;
    -webkit-text-stroke: 0.5px $blackColor;
  }

.container-faq{
        h2{
            font-size: $smfont+0.4em;
        }
  }

.faq-input {
    width: 100%;
    padding: 8px;
  }

/* Seguimiento */
.follow-container{
    h3{
        font-size: 0.85em;
    }
}

.btn-submit-follow {
    width: 180px;
    padding: 8px 0;
    margin-top: 10px;
    font-size: 12px;
  }

.follow-form-label {
    font-size: $inputFont;
  }

.follow-form-input {
    padding: 6px;
    font-size: 12px;
  }


.error-container{
    h1{
      font-size: $xlfont;
      margin: 20px 0px;
    }

        h2{
          font-size: $smfont;
          margin: 20px 0px;
        }

          a{
            width: 90%;
          }

                p{
                  font-size: $sfont+0.1em;
                }
}

}

/* Quinto bk */
@media screen and (max-width: 400px) {
.h-h1 {
    font-size: $sfont+0.6em;
    text-decoration: underline $whiteColor;
}
    
.h-h2 {
    font-size: 0.75em;
}

footer{
    h4{
        font-size: $smfont;
    }
        ul{
            li{
                a{
                    padding: 6px;
                    font-size: 0.65em;
                }
            }
        }
}

.footer-svg {
    width: 45px;
  }

.footer-cp {
    font-size: 0.5rem;
  }

.promotions-box {
    margin: 25px auto;
    font-size: $sfont;
  }

.card-promotions {
    font-size: $sfont+0.1em;
        h3{
            font-size: $sfont+0.5em;
        }
            h2{
                font-size: $sfont+0.2em;
            }
  }

  /* destinos */
.destinations {
    font-size: 0.8em;
        figcaption{
            font-size: $sfont+0.68em;
        }
  }

.gallery-title {
    font-size: 0.4em;
    -webkit-text-stroke: 0.3px $blackColor;
  }

.container-faq{
    h2{
        font-size: $smfont+0.2em;
    }
}

  /* Contacto */
.menu-contact {
    font-size: 0.8em;
        h2{
            margin: 5px;
        }
  }

.btn-submit-contact {
    width: 30%;
    font-size: 12px;
  }

.contact-form-label {
    font-size: 12px;
  }

.contact-form-input {
    width: 90%;
  }
  
.contact-map {
    height: 200px;
  }

  .error-container{
    h1{
      font-size: $mfont;
    }

        h2{
          font-size: $sfont+0.7em;
        }

                p{
                  font-size: $sfont;
                }
}

}