* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-image: url(../img/background/background.png);
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    margin: 0px;
    padding: 0px;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-jc-c {
    align-items: center;
  }
  
  .text-color-white {
    color: $whiteColor;
  }
  
  .txt-color-usd {
    color: $usdColor;
  }
  
  .m-20px {
    margin: 20px;
  }
  
  .mb-15px {
    margin-bottom: 15px;
  }

//Error pages

.bg-error-pages{
  background-image: $linearErrorColor;
}

.error-container{
  @include flex-box (column,start,center,wrap);

    h1{
      font-size:5.5em;
      margin: 40px 0px;
      color: $blackColor;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-shadow: $shadowBlack;
    }

        h2{
          -webkit-text-stroke: 1px $blackColor;
          font-size:3em;
          margin: 20px 0px;
          color: $blackColor;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-shadow: $shadowBlack;
        }

          a{
            width: 40%;
              img{
                width: 100%;
              }
          }

                p{
                  text-align: center;
                  font-size: 2em;
                  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color: $blackColor;
                  padding: 20px;
                  font-weight: $fontBold;
                  text-shadow: $shadowBlack;
                }
}