.follow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .follow-container {
    background-color: #323232;
    color: $whiteColor;
    margin: 30px;
    padding: 40px 15px;
    border: solid 3px $grayColor;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: $fontBold;
    width: 40%;
        h3{
            color: $whiteColor;
            margin-bottom: 30px;
            font-weight: $fontBold;
            font-size: 1.4em;
            text-shadow: $lightBlueColor 5px 5px 8px;
        }
  }

  .follow-form-label {
    display: block;
    color: $orangeColor;
    font-size: 16px;
    position: relative;
  }
  
  .follow-form-input {
    background: $blackColor;
    border: none;
    outline: none;
    border-bottom: 2px solid $coralColor;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: $whiteColor;
  }
  
  .btn-submit-follow {
    width: 100px;
    background: $orangeColor;
    font-size: 16px;
    border: none;
    color: $whiteColor;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
        &:hover{
            background: $brownColor;
            color: $bgColor;
            transition: all 0.4s ease;
        }
  }