.follow-box {
    @include flex-box (row,center,center,wrap);
    width: 100%;
  }

  .follow-container {
    @extend .box-gral;
    padding: 40px 15px;
    width: 40%;
        h3{
            color: $whiteColor;
            margin-bottom: 30px;
            font-weight: $fontBold;
            font-size: $sfont+0.4em;
            text-shadow: $lightBlueColor 5px 5px 8px;
        }
  }

  .follow-form-label {
    display: block;
    color: $orangeColor;
    font-size: $sfont;
    position: relative;
  }
  
  .follow-form-input {
    background: $blackColor;
    border: none;
    outline: none;
    border-bottom: 2px solid $coralColor;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: $inputFont;
    color: $whiteColor;
  }
  
  .btn-submit-follow {
    @extend .btn-gral;
    width: 100px;
    background: $orangeColor;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px $blackColor;
        &:hover{
            background: $brownColor;
            color: $bgColor;
        }
  }