.promotions-box {
  @extend .box-gral;
    margin: 50px auto;
    width: 90%;
    padding: 15px 0px;
    @include flex-box (row,center,center,wrap);
  }

.card-promotions {
    color: $whiteColor;
    margin: 30px;
    font-size: 1.2em;
    font-weight: 0;
    width: 25%;
      img{
        width: 100%;
        border-top: solid 2px $ligthRed;
      }
         h3{
          font-weight: $fontBold;
          font-size: 2rem;
          color: $lightRedColor;
          margin-top: 10px;
        }
            h2{
              font-weight: $fontBold;
              font-size: 2rem;
              color: $lightBlueColor;
              margin-top: 20px;
            }
                p{
                  margin: 0px 10px;
                  @include parrafos (auto,auto,$grayColor,2px)
                }
                    &:hover{
                    -webkit-transform: scale(1.06);
                    transform: scale(1.06);
                    -webkit-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                    box-shadow: 10px 10px 10px 10px $blackColor;
                    border-radius: 10px;
                    background-color: $bgPCard;
    }
  }

  .btn-card {
    @extend .btn-gral;
    background-color: $redColor;
    border: solid 2px $whiteColor;
      &:hover{
        background-color: $darkGrayColor;
      }
  }