// Colors
$bgColor: #323232;
$bgColorHover:#434242;
$mainColor:#00A2E8;
$secondaryColor:#C0C0C0;
$redColor: red;
$lightRedColor:#e24040;
$whiteColor:#fdfdfd;
$usdColor:#008000;
$grayColor:#dbdbdb;
$lightGrayColor:#b7b6b6;
$darkGrayColor:#00000033;
$blueColor:#0562ae;
$lightBlueColor:#00a2e8;
$blackColor:#000000;
$bgPCard:#4e4e4e;
$ligthRed:#e24040;
$orangeColor:#ff851b;
$coralColor:coral;
$brownColor:#9c4a02;
$linearErrorColor:linear-gradient(to bottom, #FFD700, #ffa135);

// Fonts
$mainFont: "Montserrat", sans-serif;
$fontLight:200;
$fontBold:600;
$fontDarkBold:900;

$shadowBlack:5px 5px 10px rgba(0, 0, 0, 0.5);